* {
  box-sizing: border-box;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
body {
  margin: 0;
}
.container .top-navbar {
  display: flex;
  padding: 30px 0;
}
.links {
  display: flex;
  list-style: none;
  margin: 5px;
  margin-right: auto;
}
.links a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.top-navbar .orange-links {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 16px 24px 20px;
  background-color: #ff9c08;
  border-radius: 10px;
  margin: -8px 0 0 20px;
}
header .title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}
.transparent-text {
  font-family: " DM sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #6e6e6e;
  margin-bottom: 60px;
}
.orange-links {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 27px 38px 26px;
  background-color: #ff9c08;
  border-radius: 10px;
}
.white-links {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #f0ece8;
  padding: 27px 32px 26px 32px;
}
header {
  display: flex;
}
.container header .image img {
  margin-right: -100px;
}
.container header .content {
  margin-top: 200px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex-basis: 23%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-4 {
  /* 100% / 12 * 4 */
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}
.row .col-3 div {
  display: flex;
}
.title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  margin: 50px 0 0 0;
}
.orange-text {
  margin: 50px 0 0 0;
  color: #ff9c08;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
}
.row .col-3:nth-child(1) {
  margin-left: 20px;
}
.small-orange-text {
  color: #ff9c08;
}
.orange-small-text {
  color: #ff9c08;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
}
.transparent-small-text {
  color: #6e6e6e;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}