* {
  box-sizing: border-box;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
body {
  margin: 0;
}
.container .top-navbar {
  display: flex;
  padding: 30px 0;
}
.links {
  display: flex;
  list-style: none;
  margin: 5px;
  margin-right: auto;
}
.links a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.top-navbar .orange-links {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 16px 24px 20px;
  background-color: #ff9c08;
  border-radius: 10px;
  margin: -8px 0 0 20px;
}
header .title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}
.transparent-text {
  font-family: " DM sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #6e6e6e;
  margin-bottom: 60px;
}
.orange-links {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 27px 38px 26px;
  background-color: #ff9c08;
  border-radius: 10px;
  width: 180px;
  height: 75px;
}
.white-links {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #f0ece8;
  padding: 27px 32px 26px 32px;
  background-color: white;
  height: 75px;
  width: 270px;
}
header {
  display: flex;
}
.container header .image img {
  margin-right: -100px;
}
.container header .content {
  margin-top: 200px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex: 8.3% 1 1;
}
.col-2 {
  flex: 16.6% 1 1;
}
.col-3 {
  flex-basis: 23%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-4 {
  /* 100% / 12 * 4 */
  flex: 33.3% 1 1;
}
.col-5 {
  flex: 41.6% 1 1;
}
.col-6 {
  flex: 50% 1 1;
}
.col-7 {
  flex: 58.3% 1 1;
}
.col-8 {
  flex: 66.6% 1 1;
}
.col-9 {
  flex: 75% 1 1;
}
.col-10 {
  flex: 83% 1 1;
}
.col-11 {
  flex: 91.6% 1 1;
}
.col-12 {
  flex: 100% 1 1;
}
.row .col-3 div {
  display: flex;
}
.title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  margin: 50px 0 0 0;
}
.orange-text {
  margin: 50px 0 0 0;
  color: #ff9c08;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
}
.row .col-3:nth-child(1) {
  margin-left: 20px;
}
.orange-small-text {
  margin-top: 90px;
  color: #ff9c08;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
}
.transparent-small-text {
  color: #6e6e6e;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}
.row img {
  width: 570px;
}
.link {
  margin: 180px 0 50px 189px;
  width: 381px;
}
.small-title {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
}
main .row .col-6:nth-child(2) {
  padding-left: 20px;
}
.small-icon img {
  width: 26px;
  margin: 0 10px -5px 0;
}
.small-icon {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}
.numbers-title {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  margin-bottom: -10px;
}
.card {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
}
.card-content {
  flex: 50% 1 1;
}
.card-images {
  flex: 50% 1 1;
  padding-left: 10px;
}
.inline {
  display: flex;
}
img.icon {
  height: 76px;
  width: 76px;
  margin: 30px 15px 0 0;
}
.card .link {
  margin: 95px 0 0 0;
}
.bisque {
  background-color: #ffd4a4;
  text-align: center;
  padding: 198px 344px 508px;
  margin-top: 200px;
  height: 864px;
}
.black-text {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}
.black-links {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 18px;
  background-color: black;
  border-radius: 10px;
  padding: 27px 38px 26px;
  width: 220px;
  height: 75px;
}
.bisque .small-title {
  margin-bottom: 80px;
}
.bisque img {
  width: 1180px;
  margin: 90px -241px;
}
img.video-icon {
  width: 200px;
  margin: -30px 570px;
}
.subhead {
  font-size: 24px;
  margin-top: 280px;
}
.row .col-6 .transparent-small-text {
  margin-bottom: 196px;
}
.underline {
  width: 1180px;
}
.section .topside {
  display: flex;
}
.section .topside .orange-links {
  margin: 20px 0 0 100px;
}
img.section-icon {
  width: 172px;
}
.section .row .col-4 {
  text-align: center;
  margin: 70px 0;
}
.section .row .col-4 .subhead {
  margin-top: 10px;
}
.row .col-4 .transparent-small-text {
  margin: 0 30px;
}
.orange-card {
  display: flex;
  margin-top: 200px;
  padding: 160px 60px 158px;
  background-color: #FF9C08;
  border-radius: 40px;
}
.orange-card .small-title {
  margin-top: -20px;
}
.orange-card .black-links {
  margin: 0 20px 0 100px
}
.top-navbar .orange-links {
  width: 142px;
  height: 54px;
}
